* {
    font-family: "Roboto", sans-serif;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.product {
    width: 300px;
    border: 2px solid greenyellow;
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
}

.added {
    color: white;
    background-color: red;
}

#table-container {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

thead {
    background-color: antiquewhite;
}

td {
    padding: 5px;
}

tr:nth-child(even) {
    background-color: azure;
}

.btn {
    padding: 5px 10px;
    margin: 5px;
    border: none;
    color: white;
    cursor: pointer;

    text-decoration: none;
    display: inline-block;
}

.btn-success {
    background-color: green;
}

.btn-primary {
    background-color: blue;
}

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }

  .form-container input[type="text"],
  .form-container input[type="number"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }

  .form-container input[type="text"]:focus,
  .form-container input[type="number"]:focus {
    background-color: #ddd;
    outline: none;
  }

  .form-container .btn {
    background-color: #04aa6d;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
  }

  .form-container .cancel {
    background-color: red;
  }

  .form-container .btn:hover,
  .open-button:hover {
    opacity: 1;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(151 165 23 / 80%);
    padding: 10px;
    padding-bottom: 50px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .header-bar {
    background-color: rgb(151 165 23 / 80%);
  }
  a:hover,
  a:active,
  a:link,
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }